$primary-color: #6200ea;
$secondary-color: #03dac6;
$background-color: #f5f5f5;
$text-color: #212121;
$button-hover-color: darken($primary-color, 10%);
$input-border-color: #ccc;
$input-focus-border-color: $secondary-color;
$main-bg-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);
$popup-bg-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.2);

.main {
  background-color: $main-bg-color;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px $shadow-color;
  max-width: 450px;
  width: 100%;
  text-align: center;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 12px 24px $shadow-color;
  }

  h1 {
    color: $primary-color;
    margin-bottom: 20px;
    font-size: 2.5em;
  }

  h2 {
    color: lighten($primary-color, 20%);
    margin-bottom: 30px;
    font-size: 1.5em;
  }

  p {
    margin: 15px 0;
    font-size: 1.1em;
  }

  input {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid $input-border-color;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: $input-focus-border-color;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      outline: none;
    }
  }

  .button {
    background-color: $primary-color;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: $button-hover-color;
      transform: scale(1.05);
    }

    display: none;

    @media only screen and (min-width: 1024px) {
    display: inline-block;
    }
  }

  .invisible {
color: #fff;
  }
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: $popup-bg-color;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px $shadow-color;
  max-width: 400px;
  width: 100%;
  text-align: center;

  h2 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  p {
    margin: 10px 0;
    font-size: 1em;
  }

  .button {
    background-color: $primary-color;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: $button-hover-color;
      transform: scale(1.05);
    }
  }

  .close-button {
    background-color: $secondary-color;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: lighten($secondary-color, 10%);
      transform: scale(1.05);
    }
  }
}
